{{!< default}}

<p>{{msg}}</p>
	<form action="/sword/user/login" method="post">
		
		<input type="text" name="username" placeholder='Enter Username' />
		<input type="password" name="password" placeholder='Password' />
		
		
		<input type="submit" />
	</form>
