{{!< default}}


	<h1>register to {{title}}</h1>

	
	<p>{{err_msg}}</p>
	<form action="/register" method="post">
		
		<input type="text" name="username" placeholder='Enter Username' />
		<input type="password" name="password" placeholder='Password' />
		
		
		<input type="submit" />
	</form>