{{!< default}}


	<h1>register to {{title}}</h1>

	
	<p>{{err_msg}}</p>
	<form action="/register" method="post">
		
		<input type="text" name="username" placeholder='Enter Username' />
        <br />
        <input type="text" name="nickname" placeholder='Enter Nickname' />
        <br />
        <input type="text" name="email" placeholder='Email' />
		<br />
		<input type="password" name="password" placeholder='Password' />
		<br />
		<input type="submit" />
	</form>